*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: inherit;
  color: inherit;
}

.app{
  
  min-height: 98vh;
}



/*.app {
  text-align: center;
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-size:auto;
  
}*/

